@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <p class="my-3 me-3">Hello, <a href="/profile">@context.User.Identity?.Name!</a></p>
                    @* @if (context.User.IsInRole("Create_User"))
                    {
                        <a class="btn btn-warning" href="/admin">Create_User</a>
                    }
                    @if (context.User.IsInRole("Admin"))
                    {
                        <a class="btn btn-warning" href="/admin">Admin</a>
                    } *@
                    <button class="btn btn-outline-primary" @onclick="LogOut" >Log out</button>
                </Authorized>
                <NotAuthorized>
                    <a class="btn btn-primary" href="Login">Login </a>
                    <a class="btn btn-success" href="Register">Register </a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@inject AuthenticationStateProvider provider
@inject NavigationManager navigation
@code {
    private void LogOut(MouseEventArgs e)
    {
        var authProvider = (CustomAuthStateProvider)provider;
        authProvider.Logout();
        navigation.NavigateTo("/");
    }
}